<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Angular Routes" stopProcessing="true">
<match url=".*" />

<action type="rewrite" url="/complex-management-system/"/>
</rule>
</rules>
</rewrite>
<staticContent>
<remove fileExtension =".json"/>
<mimeMap fileExtension="json" mimeType="application/json"/>
</staticContent>
</system.webServer>
</configuration>